{% include 'incl/header.twig' %}
<body>
{% include 'incl/nav.twig' %}
<div class="main" role="main">
<h1>Technologies</h1>
<div class="technology-container">
    {% for page in pages("technologies/technology") %}
    <div class="tech {{ page.title|lower }}-box"><a href="{{ page.url }}">{{ page.title }}</a></div>
    {% endfor %}
</div>
</div>
{% include 'incl/footer.twig' %}
</body>
</html>
