$font-color: #585858;;
$font-alternative-color: #fff;
$accent-color: #f29f0d;
$background-color: #E2E2E2;
$background-alternative-color: #e0fbfc;
$font-larger: 3em;
$header-social-color: #B8C4BB;
$hover-color: rgb(233, 233, 233); 
$social-font-color: #747578;
