@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';

@import 'technologies';
@import 'technology';


@font-face {
    font-family: 'MyFont_SerifReg';
    src: url('/themes/shared/googlefonts/Oswald-Bold.ttf');
    src: url('/themes/shared/googlefonts/Oswald-Medium.ttf');
    src: url('/themes/shared/googlefonts/Oswald-Regular.ttf');
    src: url('/themes/shared/googlefonts/RobotoMono-Bold.ttf');
    src: url('/themes/shared/googlefonts/RobotoMono-Medium.ttf');
    src: url('/themes/shared/googlefonts/RobotoMono-Regular.ttf');
}

.header {
    background-color: $header-social-color-dark;
    height: 7em;

    .nav a,

    .nav-toggle {
        color: $font-alternative-color;
        font-weight: 900;
        list-style: none;
        text-decoration: none;
        vertical-align: middle;
        padding: 0.4em 0;
    }

    .nav ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
}

ul {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#nav-a {
    color: $font-alternative-color;
}

.fa,

.fas {
    font-size: smaller;
}

.fab.fa-github,

.fas.fa-moon,

.fas.fa-trash-alt {
    color: $social-font-color;
}

.logo {
    padding: 1em 1em 1em 0;
}

img {
    display: block;
    margin: 0 auto;
}

.hidden {
    display: none !important;
}

a,

h1 {
    text-align: center;
    color: $font-alternative-color;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    display: block;
    font-size: 1.2em;
    font-weight: bolder;
    line-height: 1.5em;
    width: 50%;
    margin: 0 auto;
}

html {
    height: 100%;

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: $background-color-dark;
    }
}

* {
    color: $font-alternative-color;
    font-weight: 500;
    box-sizing: border-box;
    border: 0 none;
}

.footer {
    margin-top: auto;
}

.social {
    font-size: 3em;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-bottom: 0.2em;
    border-top: 3px solid $header-social-color;
    border-top-color: $header-social-color;
}

.fa-github,

.fa-moon,

.fa-trash-alt {
    color: $header-social-color;
    margin: 0em 0.2em;
}

@media (max-width: 767px) {
    body {
        min-height: 100vh;
        min-width: 300px;
    }

    .logo {
        position: absolute;
    }

    p {
        width: 85%;
        margin: 0 auto;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .nav ul li a {
        display: block;
        padding: 0.4em 0;
        color: $font-alternative-color;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        max-width: 250px;
    }

    .social {
        font-size: $font-larger;
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        bottom: 0;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
}
