@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'analyses';
@import 'analysis';
@import 'gallery';
@import 'technologies';
@import 'technology';
@import 'style';

@font-face {
    font-family: 'MyFont_SerifReg';
    src: url('/themes/shared/googlefonts/Oswald-Bold.ttf');
    src: url('/themes/shared/googlefonts/Oswald-Medium.ttf');
    src: url('/themes/shared/googlefonts/Oswald-Regular.ttf');
    src: url('/themes/shared/googlefonts/RobotoMono-Bold.ttf');
    src: url('/themes/shared/googlefonts/RobotoMono-Medium.ttf');
    src: url('/themes/shared/googlefonts/RobotoMono-Regular.ttf');
}

.header {
    //background-color: $header-social-color-dark;
    height: $header-height;
    background-color: $background-color-dark;

    .nav a,

    .nav-toggle {
        color: $font-color-dark;
        font-weight: 900;
        list-style: none;
        text-decoration: none;
        vertical-align: middle;
        padding: 0.4em 0;
    }

    .nav ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
    }
}

.nav {
    margin: 0 auto;
    width: auto;
}

.nav a {
    color: $font-color-dark;
    list-style: none;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.4em 0;
}

ul {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

.fas.fa-image,

.fas.fa-laptop-code,

.fas.fa-info,

.fas.fa-chart-bar,

.fas.fa-home {
    font-size: small;
    color: $font-color-dark;
}

.fa-github,

.fa-sun,

.fa-trash-alt {
    padding-top: 0.2em;
    color: $font-color-dark;
    margin: 0 0.2em;
}

.logo {
    padding: 0.5em 1em 1em 0;
}

.start-img {
    height: auto;
    max-width: 100%;
    border-radius: $img-border-radius;
}

img {
    display: block;
    margin: 0 auto;
    filter: brightness(80%);
}

.hidden {
    display: none !important;
}

a,

h1,

h2 {
    text-align: center;
    color: $font-color-dark;
    font-weight: bolder;
    text-decoration: none;
}

.nav a {
    color: $font-color-dark;
}

a:hover {
    text-decoration: underline;
}

p {
    color: $font-color-dark;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    width: 75%;
    margin: 0 auto;
}

html {
    height: 100%;
    font-family: Helvetica, Courier, monospace;

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: $background-color-dark;
    }
}

* {
    color: $font-color-dark;
    font-weight: 400;
    box-sizing: border-box;
    border: 0 none;
}

.footer {
    margin-top: auto;
}

.social {
    font-size: 3em;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    bottom: 0;
    padding-bottom: 0.2em;
    border-top: 3px solid $header-social-color;
    background-color: $header-social-color-dark;
}

.sidemenu {
    margin-left: 2em;
}

.sidemenu a {
    color: $tech-back-color;
}

.links-analys {
    color: $font-color;
}

.analysis-01-colors-box:hover {
    background-color: $hover-color-dark;
}

.analysis-02-load-box:hover {
    background-color: $hover-color-dark;
}

.analysis-03-design-principles-box:hover {
    background-color: $hover-color-dark;
}

.analysis-01-colors-box {
    text-align: center;
    border: 2px solid $font-color-dark;
    background-color: $background-color-dark;
    font-size: 1.5em;
    border-radius: 30px;
    line-height: 2em;
    text-align: center;
}

.analysis-02-load-box {
    text-align: center;
    border: 2px solid $font-color-dark;
    background-color: $background-color-dark;
    font-size: 1.5em;
    border-radius: 30px;
    line-height: 2em;
    text-align: center;
}

.analysis-03-design-principles-box {
    text-align: center;
    border: 2px solid $font-color-dark;
    background-color: $background-color-dark;
    font-size: 1.5em;
    border-radius: 30px;
    line-height: 2em;
    text-align: center;
}

.tech:hover {
    background-color: $hover-color-dark;
}


.tech {
    text-align: center;
    border: 2px solid $font-color-dark;
    background-color: $background-color-dark;
    font-size: 1.5em;
    border-radius: 30px;
    line-height: 2em;
    text-align: center;
}

pre {
    background-color: $hover-color-dark;
    border: 2px solid $font-color-dark;;
}

.headings-analysis {
    text-align: left;
    margin-left: 12.5%;
    color: $font-color-dark;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.headings-analysis a {
    color: $font-color-dark;
}

@media (max-width: 767px) {
    body {
        min-height: 100vh;
        min-width: 300px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .sidemenu {
        font-size: $mobile-sidemenu-font-size;
        margin-bottom: 1em;
    }

    .logo {
        position: absolute;
    }

    p {
        width: 85%;
        margin: 0 auto;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .nav ul li a {
        display: block;
        padding: 0.4em 0;
        color: $font-color-dark;
    }

    a:hover {
        text-decoration: underline;
    }

    .social {
        font-size: $font-larger;
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        bottom: 0;
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
}
