@import 'variables';

.technology-container {
    display: grid;
    font-weight: bolder;
    gap: 1em 1em;
    width: 65%;
    margin: 0 auto;
}

.technology-container h1 {
    grid-column: span 3;
    justify-self: center;
}

.tech.css-box {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tech.html-box {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.tech.javascript-box {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.tech.php-box {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.tech.python-box {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.tech.git-box {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.tech.sqlite-box {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}
