
.technology ul {
    list-style: none;
}

.technology {
    display: flex;
    flex-direction: row;
}

.sidemenu {
    font-size: 1.5em;
    width: 20%;
    text-align: left;
}

article {
    width: auto;
}

pre {
    width: 30%;
    margin: 0 auto;
    padding: auto;
}

.social {
    margin-top: 0.3em;
}

@media (max-width: 767px) {
    .technology {
        display: flex;
        flex-direction: column;
    }

    pre {
        margin-top: 1em;
        width: 60%;
    }

    a:hover {
        text-decoration: underline;
    }
}
