$font-color: #585858;;
$font-alternative-color: #fff;
$accent-color: #f29f0d;
$background-color: #a6c4d2;
$background-alternative-color: #e0fbfc;
$font-larger: 3em;
$header-social-color: #faebd7;
$hover-color: rgb(233, 233, 233); 
