$font-color: #585858;
$font-color-dark: #d0d0d0;
$accent-color: #f29f0d;
$background-color: #e2e2e2;
$background-color-dark: #13272c;
$hover-color-light: #d5d5d5;
$hover-color-dark: #041415;
$tech-background-color-dark: #13272c;
$header-social-color: #bfc9d5;
$header-social-color-dark: #041415;
$background-alternative-color: #e0fbfc;
$social-font-color: #747578;
$icons-and-border-light: #b9c5d1;
$font-larger: 3em;
$header-height: 7.5em;
$background-alternative-color: #e0fbfc;
$mobile-sidemenu-font-size: 1em;
$img-border-radius: 1.5em;
$footer-color-light: #32566b;
$tech-back-color: #e4e4e4;
$dark-theme-link-color: #e09069;
